/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



*/

/* line 9, ../../../app/assets/stylesheets/app/_common.css.scss */
.clearfix {
    clear: both;
}

/* line 13, ../../../app/assets/stylesheets/app/_common.css.scss */
a {
    outline: medium none;
}

/* line 17, ../../../app/assets/stylesheets/app/_common.css.scss */
a:hover {
    text-decoration: none;
}
/* line 17, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}
/* line 103, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../.bundle/ruby/1.9.1/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

/* line 9, ../../../app/assets/stylesheets/app/_common.css.scss */
.clearfix {
    clear: both;
}

/* line 13, ../../../app/assets/stylesheets/app/_common.css.scss */
a {
    outline: medium none;
}

/* line 17, ../../../app/assets/stylesheets/app/_common.css.scss */
a:hover {
    text-decoration: none;
}

/* line 14, ../../../app/assets/stylesheets/app/app.css.scss */
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding-top: 30px;
    padding-left: 10px;
}

/* line 25, ../../../app/assets/stylesheets/app/app.css.scss */
#main {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
}
/* line 32, ../../../app/assets/stylesheets/app/app.css.scss */
#main #side-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;

    overflow-y: scroll;
}
/* line 40, ../../../app/assets/stylesheets/app/app.css.scss */
#main #main-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
}

/* line 49, ../../../app/assets/stylesheets/app/app.css.scss */
.button, .blue-btn, .header-button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
    cursor: pointer;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 1em;
    font-weight: bold;
    overflow: visible;
    line-height: 32px;
    height: 32px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0 1em 0 0.9em;
    text-decoration: none;
}
/* line 73, ../../../app/assets/stylesheets/app/app.css.scss */
.button:active, .blue-btn:active, .header-button:active {
    -webkit-box-shadow: #3a3201 0 1px 2px 0px inset;
    -moz-box-shadow: #3a3201 0 1px 2px 0px inset;
    box-shadow: #3a3201 0 1px 2px 0px inset;
}

/* line 78, ../../../app/assets/stylesheets/app/app.css.scss */
.blue-btn, .header-button {
    color: #eee;
    text-shadow: black 0px -1px 1px;
    border: 1px solid #333;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    background-color: #3b67c6;
}
/* line 90, ../../../app/assets/stylesheets/app/app.css.scss */
.blue-btn:hover, .header-button:hover {
    background-color: #2b57b6;
}

/* line 95, ../../../app/assets/stylesheets/app/app.css.scss */
.header-button {
    display: inline-block;
}

/* line 102, ../../../app/assets/stylesheets/app/app.css.scss */
ul#projects li.project {
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
    font-family: monospace;
    background-color: #3b67c6;
    cursor: pointer;
    color: #f0f0f0;
    /*text-shadow: white 0 1px 0;*/
    text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;

    border: 1px solid #333;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
}
/* line 114, ../../../app/assets/stylesheets/app/app.css.scss */
ul#projects li.project:first-child {
    margin-top: 27px;
}
/* line 118, ../../../app/assets/stylesheets/app/app.css.scss */
ul#projects li.project:hover {
    background-color: #2b57b6;
}
/* line 122, ../../../app/assets/stylesheets/app/app.css.scss */
ul#projects li.project:active, ul#projects li.project.selected {
    background-color: #2b57b6;
    text-shadow: rgba(255, 255, 121, 0.9) 0 1px 0;
}
/* line 127, ../../../app/assets/stylesheets/app/app.css.scss */
ul#projects li.project span {
    display: block;
}
/* line 131, ../../../app/assets/stylesheets/app/app.css.scss */
ul#projects li.project .id {
    margin-top: 10px;
    font-size: 0.75em;
}
/* line 135, ../../../app/assets/stylesheets/app/app.css.scss */
ul#projects li.project .id:before, ul#projects li.project .id:after {
    content: " / ";
}

ul#logs li.log {
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
    font-family: monospace;
    background-color: #3b67c6;
    cursor: pointer;
    color: #f0f0f0;
    /*text-shadow: white 0 1px 0;*/
    text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;

    border: 1px solid #333;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
}
/* line 114, ../../../app/assets/stylesheets/app/app.css.scss */
ul#logs li.log:first-child {
    margin-top: 27px;
}
/* line 118, ../../../app/assets/stylesheets/app/app.css.scss */
ul#logs li.log:hover {
    background-color: #2b57b6;
}
/* line 122, ../../../app/assets/stylesheets/app/app.css.scss */
ul#logs li.log:active, ul#logs li.log.selected {
    background-color: #2b57b6;
    text-shadow: rgba(255, 255, 121, 0.9) 0 1px 0;
}
/* line 127, ../../../app/assets/stylesheets/app/app.css.scss */
ul#logs li.log span {
    display: block;
}

/* line 143, ../../../app/assets/stylesheets/app/app.css.scss */
#project-details span {
    margin: 10px;
    font-family: monospace;
    font-size: 1.2em;
}
/* line 149, ../../../app/assets/stylesheets/app/app.css.scss */
#project-details span.name:before {
    content: "Name: ";
    font-weight: bold;
}
/* line 155, ../../../app/assets/stylesheets/app/app.css.scss */
#project-details span.id {
    margin-left: 30px;
}
/* line 158, ../../../app/assets/stylesheets/app/app.css.scss */
#project-details span.id:before {
    content: "ID: ";
    font-weight: bold;
}

#project-details {
    position: absolute;
    top: 0;
    bottom: 10px;
    right: 10px;
    left: 0;
}

#workflow {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#chart {
    position: absolute;
    top: 27px;
    left: 0;
    right: 70px;
    bottom: 0;
}

#legend {
    position: absolute;

    width: 70px;
    top: 27px;
    right: 0;
    bottom: 0;
}

#project-details #project-nodes, #project-details #project-legend {
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    bottom: 1px;

    background-color: #3b67c6;
    border: 1px solid #333;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset, rgba(0, 0, 0, 0.8) 0 1px 2px;
}

#main-pane #log-content {
    position: absolute;

    top: 26px;
    left: 0;
    right: 10px;
    bottom: 10px;

    font-family: monospace;
}