rect, .line {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 1.5px;
}

circle.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

line.link {
    stroke: #f0f0f0;
    stroke-opacity: .8;
}

.initial-icon {
    fill: #f0f0f0;
}

.final-icon {
    fill: #3b67c6;
    stroke: #f0f0f0;
    stroke-width: 5px;
}

.active-icon {
    fill: #3b67c6;
    color: #f0f0f0;
    stroke: #f0f0f0;
    stroke-width: 2px;
}

.active text {
    fill: #f0f0f0;
    stroke: #f0f0f0;
}

.fork-icon {
    fill: #3b67c6;
    stroke: #f0f0f0;
    stroke-width: 2px;
}

.merge-icon {
    fill: #3b67c6;
    stroke: #f0f0f0;
    stroke-width: 2px;
}

.legend {
    fill: #f0f0f0;
    stroke: #f0f0f0;
    stroke-width: 0.5px;
}

.legend line {
    stroke: #222;
    stroke-width: 1px;
}

/****************/

.details-node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.details-node {
    font: 10px sans-serif;
}

.details-link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
